/* styles.css */
h1 {
    text-align: center;
    color: green;
}

.container {
    display: flex;
    border: 5px solid orange;
    justify-content: space-evenly;
    align-items: center;
    display: flex 100 100 0;
}


div {
    display: flex;
    justify-content: center;
    background-color: yellow;
    color: green;
    border:10px
    padding:10px;
    height: 30px;
    display:inline-block;
    font-size: x-large;
    text-align: center;
    flex-direction: row;
    width: 1000px

}